/* css template */   
.thumbnail {
    position:relative;
    overflow:hidden;
}

.caption {
    position:absolute;
    top:0;
    right:0;
    background:rgba(90, 90, 90, 0.75);
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align: center;
    color:#fff !important;
    z-index:2;
}

.caption .text {
    color: white !important;
    font-size: medium;
    width: 80%;
    position: absolute;
    top: 35%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.thumbnail:hover .caption {
    display: block;
}

.btn:focus {
    outline: 0 !important;
}

.btn:active {
    box-shadow: none !important;
}

.btn-group {
    display: flex !important;
    justify-content: center !important;
}

.btn:hover #reg {
    display: none !important;
}

.btn:hover #hov {
    display: block !important;
}

.btn:focus #reg {
    display: none !important;
}

.btn:focus #hov {
    display: none !important;
}

.btn:focus #sel {
    display: block !important;
}