<!DOCTYPE html>
<html lang="en">


  <head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bob Ross</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../static/css/style-painting.css">


    <!-- Bob Ross Bideo CSS -->
    <link href="../static/css/bideo.css" rel="stylesheet">
                
    </head>


  <body style="height:1500px">
        <div id="container" >
          <video autoplay muted loop>
              <source src="../static/BobRoss_intro.mp4" type="video/mp4">
          </video>
          <div class="overlay"></div>
        </div>
  
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand">An ode to the joy of analytics.</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="/"><img alt="Bob Ross" src="../static/icons/bob-ross-fav.png">  Home</a></li>
          <li class="not-active"><a href="/paintings"><img alt="Paintings" src="../static/icons/frame-fav.png">  Paintings by Element</a></li>
          <li class = "not-active"><a href="/element-correlation"><img alt="Correlation" src="../static/icons/chart-fav.png">  Element Correlation</a></li>
          <li class = "not-active"><a href="/timeseries"><img alt="Time" src="../static/icons/time-fav.png">  Elements Over Time</a></li>
        </ul>
      </div>
    </nav>


    <!-- Bideo Javascript -->
    <script src="../static/js/homepage.js"></script>  



</body>

</html>
