<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bob Ross</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 jumbotron text-center">
                <h1>Bob Ross is Dope Dope Dope Homies</h1>
                <div>
                    <div class="col-md-4">
                        <h3><a href="/paintings">Paintings by Element</a></h3>
                    </div>
                    <div class="col-md-4">
                        <h3><a href="/element-correlation">Element Correlation</a></h3>
                    </div>
                    <div class="col-md-4">
                        <h3><a href="/timeseries">Elements Over Time</a></h3>
                    </div>   
                </div> 
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="../static/js/paintings.js"></script>

</body>

</html>

