<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bob Ross</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../static/css/style-painting.css">
  <!-- <style>
    body {
        background-color: #dbbca2
    }
  </style> -->
</head>

<body>
<div class = "row">
    <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">An ode to the joy of analytics.</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="not-active"><a href="/"><img alt="Bob Ross" src="../static/icons/bob-ross-fav.png">  Home</a></li>
        <li class="active"><a href="/paintings"><img alt="Paintings" src="../static/icons/frame-fav.png">  Paintings by Element</a></li>
        <li class="not-active"><a href="/element-correlation"><img alt="Correlation" src="../static/icons/chart-fav.png">  Element Correlation</a></li>
        <li class="not-active"><a href="/timeseries"><img alt="Time" src="../static/icons/time-fav.png">  Elements Over Time</a></li>
      </ul>
    </div>
  </nav>
</div>

        <div class="row">
            <div class="btn-group">
                <button type="button" class="btn" value="TREES">
                    <img id="reg" src="../static/icons/Tree-icon.png" alt="Tree" style="display: block"></img>
                    <img id="hov" src="../static/icons/Tree-icon-hover.png" alt="Tree" style="display: none"></img>
                    <img id="sel" src="../static/icons/Tree-icon-border.png" alt="Tree" style="display: none"></img>
                </button>
                <button type="button" class="btn" value="MOUNTAINS">
                    <img id="reg" src="../static/icons/Mountain-icon.png" alt="Mountin" style="display: block"></img>
                    <img id="hov" src="../static/icons/Mountain-icon-hover.png" alt="Mountain" style="display: none"></img>
                    <img id="sel" src="../static/icons/Mountain-icon-border.png" alt="Mountain" style="display: none"></img>
                </button>
                <button type="button" class="btn" value="CLOUDS">
                    <img id="reg" src="../static/icons/Cloud-icon.png" alt="Cloud" style="display: block"></img>
                    <img id="hov" src="../static/icons/Cloud-icon-hover.png" alt="Cloud" style="display: none"></img>
                    <img id="sel" src="../static/icons/Cloud-icon-border.png" alt="Cloud" style="display: none"></img>
                </button>
                <button type="button" class="btn" value="LAKE">
                    <img id="reg" src="../static/icons/Lake-icon.png" alt="Lake" style="display: block"></img>
                    <img id="hov" src="../static/icons/Lake-icon-hover.png" alt="Lake" style="display: none"></img>
                    <img id="sel" src="../static/icons/Lake-icon-border.png" alt="Lake" style="display: none"></img>
                </button>
                <button type="button" class="btn" value="CABIN">
                    <img id="reg" src="../static/icons/Cabin-icon.png" alt="Cabin" style="display: block"></img>
                    <img id="hov" src="../static/icons/Cabin-icon-hover.png" alt="Cabin" style="display: none"></img>
                    <img id="sel" src="../static/icons/Cabin-icon-border.png" alt="Cabin" style="display: none"></img>
                </button>
            </div>
        </div>
    
        <div class="container">
            <div id="painting-table">
                <div class="row">
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="../static/js/paintings.js"></script>

</body>

</html>

