<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bob Ross Interactive Bar Graph</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
<script>window.jQuery || document.write(decodeURIComponent('%3Cscript src="js/jquery.min.js"%3E%3C/script%3E'))</script>
  <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/18.2.4/css/dx.common.css" />
  <link rel="dx-theme" data-theme="generic.light" href="https://cdn3.devexpress.com/jslib/18.2.4/css/dx.light.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
<script>window.angular || document.write(decodeURIComponent('%3Cscript src="js/angular.min.js"%3E%3C\/script%3E'))</script>
  <script src="https://cdn3.devexpress.com/jslib/18.2.4/js/dx.all.js"></script>
  <script src="../static/js/data.js"></script>
  <link rel="stylesheet" type ="text/css" href ="../static/css/style-painting.css" />
</head>

<body>
        <div class = "row">
        <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">An ode to the joy of analytics.</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="/"><img alt="Bob Ross" src="../static/icons/bob-ross-fav.png">  Home</a></li>
            <li><a href="/paintings"><img alt="Paintings" src="../static/icons/frame-fav.png">  Paintings by Element</a></li>
            <li><a href="/element-correlation"><img alt="Correlation" src="../static/icons/chart-fav.png">  Element Correlation</a></li>
            <li class="active"><a href="/timeseries"><img alt="Time" src="../static/icons/time-fav.png">  Elements Over Time</a></li>
          </ul>
        </div>
      </nav>
    </div>

    <div class="container">
        <input type="range" id = "slider" name="rangeInput" min="1" max="31" onchange="buildChart(this.value);">
        <input type="text" id="textInput" value="">
        <div class="demo-container" ng-app="DemoApp" ng-controller="DemoController">
            <div id="chart" dx-chart="chartOptions"></div>
            <div class="button-container">
                <div dx-button="buttonOptions"></div>
            </div>
        </div> 
    </div>
    
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    
    </body>

</html>

